@import "tailwindcss";
@import "tailwindcss/preflight";

.errorPageContainer{
@apply flex justify-center items-center h-screen max-w-full;
}

.errorGifContainer{
@apply flex justify-center items-center w-1/3 h-4/6 mx-10
}

.imageStyles{
@apply w-full h-full rounded-3xl shadow-2xl
}

.errorMessageContainer{
 @apply flex flex-col justify-items-start w-1/3 h-4/6
}
.errorHeadingStyles{
 @apply text-8xl [text-shadow:2px_2px_2px_rgba(0,0,0,0.5)] font-semibold
}

.errorMessageStyles{
  @apply text-xl [text-shadow:0.25px_0.25px_0.25px_rgba(0,0,0,0.5)] font-thin text-gray-500

}

@layer base{
  :root {
--color-primary:oklch(58.8% 0.158 241.966);
--color-primary-variant:oklch(80.9% 0.105 251.813);
}

}

*{
margin: 0;
padding:0;
list-style: none;
text-decoration: none;
border:0;
box-sizing:border-box;
}

body{
  @apply bg-gray-100;
font-family: "Montserrat",sans-serif;
font-size: 0.9rem;
color: oklch(20.5% 0 0);
line-height: 1.6;
}

.container{
@apply w-lg mx-auto
}
img{
@apply block w-full h-full bg-cover
}
button{
@apply cursor-pointer
}

.btn{
  @apply w-fit  bg-gray-100 text-gray-900 font-semibold px-1 py-2 text-center rounded-sm transition-all ease-out
}

.btn.primary{
@apply bg-[var(--color-primary)] text-white;
}

.btn.danger{
@apply bg-red-500 text-white

}

.btn:hover{
@apply bg-gray-400 text-gray-50
}

nav{
@apply bg-[var(--color-primary)] flex h-15 fixed top-0 left-0 w-full z-10  shadow-2xl
}

.nav_container *{
 @apply text-white
}
.nav_container{
 @apply flex justify-between items-center gap-10;
}

.nav_container div{
 @apply flex items-center gap-5 -mr-60
}

.nav_logo{
 @apply text-3xl font-bold -ml-115
}

.nav_toggle_btn{
 @apply bg-transparent text-3xl
}

.nav_container a{
 @apply transition-all ease-out
}

.nav_container a:hover{
 @apply text-[var(--color-primary-variant)] 
}

.nav_container menu {
 @apply flex items-center gap-15 text-xl
}
.navButtons{
 @apply flex items-center gap-1.5 
}
.theme_toggle_btn{
@apply bg-transparent text-3xl flex transition-all ease-out
}
.theme_toggle_btn:hover{
  @apply opacity-75
} 

h1{
  @apply text-3xl font-extrabold text-[var(--color-primary)]
}

.register{
  @apply grid items-center  bg-gray-100 h-screen
}

.register_container{
  @apply w-xl bg-gray-50 p-10 rounded-2xl shadow-xl
}



.register form{
  @apply flex flex-col gap-4
}

.register form input{
  @apply flex flex-col  p-2 bg-gray-200 rounded-xl text-gray-900 w-full shadow-2xs
}
 p{
  @apply text-gray-600 font-light
}
.register form p >a{
  @apply text-[var(--color-primary)] font-light
}

.register form  div{
  @apply flex justify-end w-full
}

.register button{
  @apply w-30
}

.form_error_message{
  @apply text-red-500 invisible
}


.results{
  @apply my-16 mx-auto

}

.results_container{
  @apply flex flex-col w-full max-w-4xl
}

.result{
  @apply bg-white rounded-2xl mb-10 overflow-hidden flex flex-col shadow-xs  
}

.result_header{
  @apply flex items-center justify-between bg-gray-100 border-8 border-solid border-white border-b-0 rounded-t-2xl 

}

.result_thumbnail{
  @apply w-28  aspect-square overflow-hidden rounded-full m-2

}

.result_header h4{
@apply p-5 text-xl font-medium
}

.result_list{
  @apply flex flex-col gap-5 p-2 pt-2.5
}

.result_candidate{
  @apply flex items-center gap-5
}

.result_candidateImg{
  @apply h-20 ml-2 aspect-square rounded-xl shadow-2xs
}

.result_candidateinfo{
  @apply w-full ml-3
}
.result_candidate-rating{
  @apply flex gap-2.5 items-center justify-between
}

.result_candidate-loader{
  @apply block w-full h-2 bg-gray-100 mt-2 rounded-xl overflow-hidden
}

.result_candidate-loader span{
  @apply block h-full bg-gradient-to-r from-[var(--color-primary)] to-[var(--color-primary-variant)];
}

.enterElectionBtn{
  @apply w-full
}




.candidates{ 
  @apply mt-20 mb-20  
}

.candidates_header{ 
  @apply flex flex-col items-center text-center w-2/3 m-auto mb-12 }

.candidates_container{ 
  @apply grid grid-cols-3 gap-12 w-5xl mx-auto
}

.candidate{
   @apply bg-white text-center rounded-xl pb-5 overflow-hidden drop-shadow-xs border-4 border-solid border-white transition-all ease-out 
  }

.candidate:hover{ 
  @apply shadow-none border-gray-100 }

.candidate_image{ 
  @apply aspect-square overflow-hidden m-auto mb-6 w-full }

.candidate small{ 
  @apply block mt-2 mb-4 ms-0 }


.vote_button{
  @apply w-32 
}


.model{
  @apply fixed inset-0 z-10 min-h-screen w-screen grid justify-center items-center bg-black/50 backdrop-blur-xs; 
}

.model_content{
  @apply bg-gray-50 w-xl rounded-2xl overflow-y-auto;
  
  
}

.model_header{
  @apply bg-[var(--color-primary)] flex items-center justify-between p-8
}

.model_content h4{
  @apply text-white uppercase text-lg font-bold
}

.model_header button{
  @apply bg-transparent text-2xl text-white
}

.model_content form{
  @apply mt-8 flex flex-col gap-6 p-8 pt-2
}

.model_content form input {
  @apply mt-2.5 w-full pt-3 pb-3 pl-4 pr-4 bg-gray-200 rounded-xl text-gray-900 
}


.confirm_vote-content {
  @apply text-center rounded-2xl
}

.confirm_vote-content h5{
  @apply mt-8 mb-8 ml-0 mr-0 text-[var(--color-primary)] 
}

.confirm_vote-image{
  @apply w-xs aspect-square m-auto rounded-3xl overflow-hidden mb-8
}

.confirm_vote-content p{
  @apply mt-1.5 mb-10 ml-0 mr-0 p-0 pl-8 pr-8
}
.confirm_vote-cta {
  @apply w-fit flex items-center gap-10 m-auto mb-8
}

.confirm_vote-content h2{
  @apply text-black font-bold text-2xl
}
.confirm_vote-content h5{
  @apply text-2xl font-bold
}


.congrats{
  @apply p-32 min-h-screen text-center 
}

.congrats_container {
  @apply flex flex-col justify-center items-center
}


.congrats h2{
  @apply text-4xl text-black font-bold
}

.congrats p{
  @apply mt-2 mb-0.5
}

.congratsBTN{
  @apply w-xs p-3 mt-8 rounded-2xl shadow-2xl
}




.elections{
  @apply mt-24 mb-15 ml-0 mr-0 
}
.elections_container{
  @apply w-6xl
}

.elections_header{
  @apply flex items-center justify-between mb-4 p-2 
}

.elections_menu{
  @apply flex flex-col gap-4 
}

.election{
  @apply grid grid-cols-[17rem_auto] items-center bg-gray-50 rounded-3xl overflow-hidden border-2 border-solid border-gray-200 
}

.election_image{
  @apply max-h-52
}

.election:hover{
  @apply drop-shadow-xl

}

.election_info {
  @apply pt-4 pb-4 pl-8 pr-8 
}

.election_info h4{
  @apply mb-3 text-[var(--color-primary)] text-xl font-semibold uppercase;
}
.election_cta{
  @apply flex gap-5 mt-4
}

.electionBTN{
  @apply w-24 shadow-2xs
}

.addElectionBTN{
  @apply w-1/6 shadow-2xs
}


.election_details{
  @apply mt-24 mb-24 ml-0 mr-0
}
.electionDetails_container{
  @apply w-5xl
}
.electionDetails_image{
  @apply h-60 mt-5 mb-3 ml-0 mr-0 object-cover
}
.electionDetails_candidates{
  @apply mt-10 pt-10 grid grid-cols-[repeat(auto-fit,minmax(15rem,1fr))] gap-12 border-t-2 border-solid border-gray-200
}

.electionCandidate{
  @apply bg-white rounded-2xl overflow-hidden relative text-center shadow-xs
}

.electionCandidate_image{
  @apply h-48 overflow-hidden
}

.electionCandidate h5{
  @apply mt-1 p-1 text-lg font-semibold 
}



.electionCandidate > div:nth-child(2) {
  @apply p-5
}

.electionCandidate_btn{
  @apply absolute -right-2.5 -bottom-2.5 m-4  bg-red-500 text-white p-1.5 text-xl rounded-xl flex shadow-2xs
}

.electionCandidate_btn:hover{
  @apply bg-gray-900
}

.add_candidate-btn{
@apply bg-gray-100 border-2 border-solid border-[var(--color-primary)] rounded-2xl text-8xl text-[var(--color-primary)] shadow-xs transition-all ease-out grid place-content-center 
}

.add_candidate-btn:hover{
  @apply border-gray-600 text-gray-600 shadow-2xl
}

.voters{
  @apply mt-24 mb-12 ml-0 mr-0
}
.voters h2{
  @apply text-center mb-12 text-xl uppercase font-extrabold
}

.voters_table{
  @apply w-full 
}
.voters_table thead th{
  @apply text-left pt-3 pb-3 pl-6 pr-6
}
.voters_table tbody td{
  @apply pt-3 pb-3 pl-6 pr-6 
}
.voters_table tbody tr:nth-child(odd){
  @apply bg-white
}

.electionDetails_h2{
  @apply text-2xl font-bold uppercase
}

/* ==================== DARK THEME TOGGLE ==================== */
body.dark {
  @apply bg-gray-900 text-gray-200;
}


.dark .btn {
  @apply bg-gray-700 text-gray-100;
}
.dark .btn.primary{
@apply bg-[var(--color-primary)] text-white;
}

.dark .btn:hover {
  @apply bg-gray-600;
}
.dark p {
  @apply text-gray-400;
}


.dark .register {
  @apply bg-gray-900;
}
.dark .register_container {
  @apply bg-gray-800 shadow-lg;
}
.dark .register form input {
  @apply bg-gray-700 text-gray-100;
}


.dark .result {
  @apply bg-gray-800;
}
.dark .result_header {
  @apply bg-gray-700 border-gray-800;
}
.dark .result_candidate-loader {
  @apply bg-gray-700;
}


.dark .candidate {
  @apply bg-gray-800 border-gray-800;
}
.dark .candidate:hover {
  @apply border-gray-700;
}


.dark .model_content {
  @apply bg-gray-800;
}
.dark .model_content form input {
  @apply bg-gray-700 text-gray-100;
}
.dark .confirm_vote-content h2 {
  @apply text-white;
}


.dark .congrats h2 {
  @apply text-white;
}


.dark .election {
  @apply bg-gray-800 border-gray-700;
}
.dark .electionCandidate {
  @apply bg-gray-800;
}
.dark .add_candidate-btn {
  @apply  bg-gray-800 border-[var(--color-primary)];
}
.dark .add_candidate-btn:hover {
  @apply border-gray-600 text-gray-600;
}


.dark .voters_table tbody tr:nth-child(odd) {
  @apply bg-gray-800;
}
